In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sb
from pylab import rcParams

import scipy
from scipy.stats import spearmanr #Spearman Rank Corelation method

In [3]:
address="C:\Data_jupyter\mtcars.csv"
cars=pd.read_csv(address)
cars.columns=['car_names','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
sb.pairplot(cars)

In [24]:
X=cars[['cyl','vs','am','gear']]
sb.pairplot(X)

### Spearman rank correaltion Coefficient
https://www.statisticshowto.datasciencecentral.com/spearman-rank-correlation-definition-calculate/

In [22]:
cyl=cars['cyl']
am=cars['am']
vs=cars['vs']
gear=cars['gear']
#spearman rank corelation
spearmanr_coefficient, p_value=spearmanr(cyl,vs)
print("Spearman rank correaltion Coefficient: {}".format(spearmanr_coefficient))

Spearman rank correaltion Coefficient: -0.8137889508577582

In [7]:
spearmanr_coefficient, p_value=spearmanr(cyl,am)
print("Spearman rank correaltion Coefficient: {}".format(spearmanr_coefficient))

Spearman rank correaltion Coefficient: -0.5220711818077188

In [8]:
spearmanr_coefficient, p_value=spearmanr(cyl,gear)
print("Spearman rank correaltion Coefficient: {}".format(spearmanr_coefficient))

Spearman rank correaltion Coefficient: -0.5643104747017164

In [19]:
#Chi Square TEST
table=pd.crosstab(cyl,am)
from scipy.stats import chi2_contingency
chi2, p, dof, expected =chi2_contingency(table.values)
print("Chi Square statistics:",chi2)
print("P-value",p)

Chi Square statistics: 8.74073295126
P-value 0.0126466050461

In [20]:
table=pd.crosstab(cyl,vs)
chi2, p, dof, expected =chi2_contingency(table.values)
print("Chi Square statistics:",chi2)
print("P-value",p)

Chi Square statistics: 21.3399299114
P-value 2.32323476379e-05

In [21]:
table=pd.crosstab(cyl,gear)
chi2, p, dof, expected =chi2_contingency(table.values)
print("Chi Square statistics:",chi2)
print("P-value",p)

Chi Square statistics: 18.0363636364
P-value 0.00121406603379